<div class="backdrop"></div>
<header class="main-header">
  <button id="side-menu-toggle">Menu</button>
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a class="<%= path === '/' ? 'active' : '' %>" href="/">Companies</a>
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/about-us' ? 'active' : '' %>" href="/about-us"
          >About us</a
        >
      </li>
      <% if (isAuthenticated) { %>
        <li class="main-header__item">
          <a
            class="<%= path === '/add-company' ? 'active' : '' %>"
            href="/add-company"
            >Add Company
          </a>
        </li>
        <li class="main-header__item">
          <a
            class="<%= path === '/resume' ? 'active' : '' %>"
            href="/resume"
            >My resume
          </a>
        </li>
        <li class="main-header__item">
          <a
            class="<%= path === '/update-resume' ? 'active' : '' %>"
            href="/update-resume"
            >Update resume
          </a>
        </li>
        <% } %>
    </ul>
    <ul class="main-header__item-list">
      <% if (!isAuthenticated) { %>
      <li class="main-header__item">
        <a class="<%= path === '/login' ? 'active' : '' %>" href="/login"
          >Login</a
        >
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup"
          >Signup</a
        >
      </li>
      <% } else { %>
      <li class="main-header__item">
        <form action="/logout" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <button type="submit">Logout</button>
        </form>
      </li>
      <% } %>
    </ul>
  </nav>
</header>


<nav class="mobile-nav">
  <ul class="mobile-nav__item-list">
    <li class="mobile-nav__item">
      <a class="<%= path === '/' ? 'active' : '' %>" href="/">Company</a>
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/' ? 'active' : '' %>" href="/"
        >About Us</a
      >
    </li>
    <% if (isAuthenticated) { %>
    <li class="mobile-nav__item">
      <a
        class="<%= path === '/add-company' ? 'active' : '' %>"
        href="/add-company"
        >Add Product
      </a>
    </li>
    <% } %> <% if (!isAuthenticated) { %>
    <li class="mobile-nav__item">
      <a class="<%= path === '/login' ? 'active' : '' %>" href="/login"
        >Login</a
      >
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup"
        >Signup</a
      >
    </li>
    <% } else { %>
    <li class="mobile-nav__item">
      <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <button type="submit">Logout</button>
      </form>
    </li>
    <% } %>
  </ul>
</nav>
